    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card data-id="{{id}}" h-100">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">{{title}}</a>
          </h4>
          <p class="card-text"></p>
        </div>
      </div>
    </div>