<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
</head>

<body>

<div class="card-group">
  <div class="card">
    
    <div class="card-body">
      <h4 class="card-title">Volunteer Somewhere Local</h4>
      <p class="card-text">Discover new ways you can give back in your area, and to learn about all the different causes you can support.</p>
    </div>
  </div>
  <div class="card">
    
    <div class="card-body">
      <h4 class="card-title">Post Gig</h4>
      <p class="card-text">Create targeted post and pay for essential gigs within the community.</p>
      
    </div>
  </div>
  <div class="card">
    
    <div class="card-body">
      <h5 class="card-title">Search Gig</h5>
      <p class="card-text">Make it easy for job seekers to find work within their local community.</p>
      
    </div>
  </div>
</div>

</body>

</html>