<div id="gigsContainer" class="container">
<h3>Available Gigs in: <span id="zipSearch"><input name="zipSearch" id="zipInput" type="number" placeholder="zip code" value="" min="0" max="99999"></input></span><button type="submit" name="search" class="btn-outline-primary m-3" id="btnZipSearch">Search</button><span id="errorSpot"></span></h3>
<div class="row" id="cardContainer">

</div>
</div>