<div class="row">
    <div class="col-md-6 mx-auto p-0">
        <div class="card">
            <div class="login-box">
                <div class="login-snip"> <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Login</label> <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
                    <div class="login-space">
                        <div class="login">
                            <div class="group"> <label for="user" class="label">Username</label> <input id="user" type="text" class="input" placeholder="Enter your username"> </div>
                            <div class="group"> <label for="pass" class="label">Password</label> <input id="pass" type="password" class="input" data-type="password" placeholder="Enter your password"> </div>
                            <div class="group"> <input id="check" type="checkbox" class="check" checked> <label for="check"><span class="icon"></span> Keep me Signed in</label> </div>
                            <div class="group"> <input type="submit" class="button" value="Sign In"> </div>
                            <div class="hr"></div>
                            <div class="foot"> <a href="#">Forgot Password?</a> </div>
                        </div>
                        <div class="sign-up-form">
                            <div class="group"> <label for="user" class="label">Username</label> <input id="user" type="text" class="input" placeholder="Create your Username"> </div>
                            <div class="group"> <label for="pass" class="label">Password</label> <input id="pass" type="password" class="input" data-type="password" placeholder="Create your password"> </div>
                            <div class="group"> <label for="pass" class="label">Repeat Password</label> <input id="pass" type="password" class="input" data-type="password" placeholder="Repeat your password"> </div>
                            <div class="group"> <label for="pass" class="label">Email Address</label> <input id="pass" type="text" class="input" placeholder="Enter your email address"> </div>
                            <div class="group"> <input type="submit" class="button" value="Sign Up"> </div>
                            <div class="hr"></div>
                            <div class="foot"> <label for="tab-1">Already Member?</label> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


  {{!-- <main id="page-content" class="projectCAKE-content-login">
    <div class="login-content">
      <section class="login-content-left">
        <article class="login-section-form projectCAKE-scrollbar signin">
          <div class="header-login">
            <a href="/" class="logo"><i class="icon-projectCAKE color-primary"></i></a>
            <h1>Log in</h1>
            <p class="summary">Log in now to access the latest local one off jobs in your community.</p>
          </div>
          <form method="post" name="form_login" id="form_login_captcha" action="" enctype="multipart/form-data">
            <input type="hidden" name="submit_auth" value="ok">
            <div class="input-wrapper-projectCAKE input-email">
              <label for="login">Your email</label>
              <input type="email" name="login" id="login" class="projectCAKE-input" title="Your email" required=""
                autocomplete="email" autofocus="">
              <div class="form-error ico-input-error">
                <p class="required">Login is invalid.</p>
              </div>
            </div>
            <div class="input-wrapper-ico input-password">
              <label for="password">Password</label>
              <input type="password" name="password" id="password" class="projectCAKE-input" title="Password" required=""
                autocomplete="current-password">
              <div class="form-error projectCAKE-input-error">
                <p class="required">Password is required.</p>
              </div>
            </div>
            <button class="projectCAKE-button signin" type="submit" title="Ok">Ok</button>
  
            <a href="javascript:void(0);" id="forgotten-password" class="forget js-forget"
              title="Forgot your password?">Forgot your password?</a>
            <hr class="separation">
            <p class="login-not-registered">Not registered yet? <a href="/create/account" class="color-primary"
                title="Create a new account">Create a new account</a></p>
          </form>
        </article>
        <article class="login-section-form projectCAKE-scrollbar forgotten-password inactive">
          <div class="header-login">
            <a href="/" class="logo link-home-projectCAKE"><i class="icon-projectCAKE color-primary"></i></a>
            <h1>Reset your password</h1>
            <p class="summary">Please provide the email address that you used when you signed up for your projectCAKE
              account.<br><br>We will send you an email that will allow you to reset your password.</p>
          </div>
          <form id="forgot-password-form" action="" method="post" name="forgotPasswordForm" data-url="/password/reset"
            novalidate="">
            <input type="hidden" name="forgotPasswordHidden" value="1">
            <input type="hidden" id="emailSentTitle" value="Success">
            <input type="hidden" id="emailSent" value="An email has been sent with a link to reset your password.">
            <div class="input-wrapper-ico input-email input-email-reset">
              <label for="password-email">Your email</label>
              <input class="projectCAKE-input" type="text" name="email" id="password-email" title="Email" required="">
              <div class="form-error projectCAKE-input-error">
                <p class="required">Email required.</p>
                <p class="invalid">Email is invalid.</p>
                <p class="error">Error</p>
              </div>
            </div>
            <button class="ico-button submit-forgot-password" title="Enter">Enter</button>
            <a href="javascript:void(0);" class="forget js-forget-back">Go back to log in</a>
          </form>
  
        </article>

      </section>
  
    </div>
  
  </main>

  <script type="text/javascript" src="js/login.js"></script>

 --}}
