<link rel="stylesheet" href="/css/style3.css" type="text/css" />
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <form class="box login"  name="form_login" id="form_login_captcha" action="" enctype="multipart/form-data">
          <h1>Login</h1>
          <p class="text-muted"> Please enter your login and password!</p>
          <input type="hidden" name="submit_auth" value="ok">
          <div class="input-wrapper-projectCAKE input-email">
            <input type="email" id="email-input" name="login" placeholder="Email" title="Your email" required="" autocomplete="email"
              autofocus="">
            <div id="authError" class="form-error ico-input-error card bg-dark">
              <p id="authErrorText" style="color: red;" class="required">Login is invalid.</p>
            </div>
          </div>
          <div class="input-wrapper-ico input-password">
            <input type="password" name="password" id="password-input" placeholder="Password" class="projectCAKE-input" title="Password" required=""
                autocomplete="current-password">
             <p id="signup"> <a href="/signup" class="color-primary"
                title="Create a new account">Not registered yet? SignUp</a></p>
            {{!-- <a class="forgot text-muted" href="#">Forgot password?</a> --}}
            <button type="submit" id="login" name="" value="Login" >Login</button>
          </div>

          <div class="col-md-12">
            <ul class="social-network social-circle">
              <li><a href="#" class="icoFacebook" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#" class="icoTwitter" title="Twitter"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#" class="icoGoogle" title="Google +"><i class="fab fa-google-plus"></i></a></li>
            </ul>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="js/login.js"></script>