<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/style2.css" type="text/css" />
</head>

<body>


    <div class="wrapper">
        <div class="title">
            Post GIg
        </div>
        <div class="form">

            <div class="inputfield">
                <label for="title">Gig Title</label>
                <input type="text" name="title" id="title" class="input">
            </div>

            <div class="inputfield">
                <label for="volunteer">Volunteer</label>
                <input type="text" name="volunteer" id="volunteer" class="input">
            </div>

            <div class="inputfield">
                <label for="category">Category</label>
                <input type="text" name="category" id="category" class="input">
            </div>

            <div class="inputfield">
                <label for="recurring_gig">Recurring Gig</label>
                <input type="text" name="recurring_gig" id="recurring_gig" class="input">
            </div>

            <div class="inputfield">
                <label for="street_address">Street Address</label>
                <input type="text" name="street_address" id="street_address" class="input">
            </div>

            <div class="inputfield">
                <label for="city">City</label>
                <input type="text" name="city" id="city" class="input">
            </div>

            <div class="inputfield">
                <label for="state">State</label>
                <input type="text" name="state" id="state" class="input">
            </div>

            <div class="inputfield">
                <label for="zipcode">Zip Code</label>
                <input type="text" name="zipcode" id="zipcode" class="input">
            </div>

            <div class="inputfield">
                <label for="description">Description</label>
                <input type="text" name="description" id="description" class="input" placeholder="Describe the gig"
                    rows="5">
            </div>

            <div class="inputfield">
                <label for="pay">Pay</label>
                <input type="text" name="pay" id="pay" class="input">
            </div>

            <div class="inputfield">
                <label for="laboring_hours">Laboring Hours</label>
                <input type="text" name="laboring_hours" id="laboring_hours" class="input">
            </div>

            <div class="inputfield">
                <label for="completion_date">Completion Date</label>
                <input type="text" name="completion_date" id="completion_date" class="input">
            </div>

            <div class="inputfield">
                <input type="submit" value="submit" class="btn btn-success">
            </div>
        </div>
    </div>


    <script src="/js/post.js"></script>


</body>

</html>