<!-- w3schools icons -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

<!-- Optional CSS -->
<link rel="stylesheet" href="css/volunteer.css" />

<div class="loading">
    <div class="background"></div>
    <div class="center">
        <div class="spinner spinner-border text-success" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

<div class="hero">
    <div class="content">
        <h1>We can all make a differnece.</h1>
        {{!-- <p>Start helping your community today.</p> --}}

        <div class="input">
            <input type="text" class="location-input" placeholder="Enter a city or zipcode." />
            <button class="search-bttn">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
</div>

<div class="response"></div>

<!-- Optional JavaScript -->
<script src="./js/volunteer.js"></script>