form.signup,
form.login {
  margin-top: 50px;
}

html,
body {
  min-height: calc(100vh-50px);
  margin: 0;
  background-image: url("../images/background1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#applyContainer {
  padding-top: 100px;
}

#gigsContainer {
  padding-top: 70px;
  background-color: rgba(224, 241, 214, 0.6) !important;
  background-color: transparent;
}

#zipSearch > input {
  display: inline-flex;
  font-size: 22px;
  width: 5em;
}

#btnZipSearch {
  border-radius: 5px;
}

#errorSpot,
#noResults {
  font-size: 1.5rem;
  font-family: Lemon, Arial, Helvetica, sans-serif;
}
.card {
  width: 100%;
  border-radius: 15px;
}

#cardImg {
  margin-top: 15px;
  min-height: 100%;
  width: 25%;
  align-self: center;
  border-radius: 50%;
}

#logo {
  font-family: Lemon, Arial, Helvetica, sans-serif;
  font-size: 24px;
}

#sticky-footer {
  height: 50px;
  flex-shrink: none;
  text-align: center;
  width: 100%;
  position: fixed;
  border-top: 2px solid;
  left: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

/*About CSS*/

.card-group {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-bottom: 10px;
  transform: translate(-50%, -50%)
  }