form.signup,
form.login {
  margin-top: 50px;
}

html, body {
  min-height: calc(100vh-50px);
  margin: 0;
  background-color: rgba(224, 241, 214, 0.8)!important;
  
}


#zipSearch > input {
  display: inline-flex;
  font-size: 22px;
  width: 5em;
}

#btnZipSearch {
  border-radius: 5px;

}

#errorSpot {
  color: red;
  font-size: 1rem;
  font-family: 'Lemon';
  
}
.card {
width: 100%;
border-radius: 15px;

}

#cardImg {
  margin-top: 15px;
  min-height: 100%;
  width: 25%;
  align-self: center;
  border-radius: 50%;
}

#logo {
  font-family: Lemon;
  font-size: 24px;
}

#sticky-footer {
  height: 50px;
  flex-shrink: none;
  text-align: center;
  width: 100%;
  position: fixed;
  border-top: 2px solid;
  left: 0;
  bottom: 0;
}