@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;900&display=swap");

html,
body {
  background-image: none;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 2;

  display: none;
}

.loading .background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  background-color: #fff;
  opacity: 0.5;
}

.hero {
  height: 70vh;
  width: 100vw;
  background-image: url("https://ucarecdn.com/1fa275cc-b107-4dac-8511-03a4002961aa/larmrmahAEaTUnvneikunsplash1.jpg");
  background-position: center;
  background-size: cover;

  font-family: "Source Sans Pro", sans-serif;
  position: relative;
}

.hero .content {
  color: #fff;
  position: absolute;
  width: 90%;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
}

.hero .content h1 {
  font-weight: bold;
  font-size: 50px;
}

.hero .content .input {
  width: 90vw;
  max-width: 400px;
  background-color: blue;
  margin: auto;
  position: relative;
  font-size: 20px;
}

.hero .content .input input {
  width: 100%;
  border: none;
  padding: 10px 20px;
  outline: none;
}

.hero .content .input button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  outline: none;
}
